<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net45" />
  <package id="gmaps-api-net" version="0.14.51" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.2.0" targetFramework="net45" />
  <package id="GoogleMapsApi" version="0.63.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Data.HashFunction.Core" version="1.8.2.2" targetFramework="net45" />
  <package id="System.Data.HashFunction.Interfaces" version="1.0.0.2" targetFramework="net45" />
</packages>